.navbar-brand{
    padding: 10px;
    margin: 0;
}

#logo{
    max-height: 30px;
}

.icon{
    max-height: 25px;
}

.thumbnail{
	-webkit-cursor:zoom-in;
}

.modal-body img{
	max-width: 100%;
}

#gallery-container p{
    max-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
}
